<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <span>Bookers</span>
        </a>
        <button class="navbar-toggler collapsed" type="button" dara-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown"></div>
        </nav>
        <nav>
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user), class: 'nav-link text-dark' do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_path, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-user" aria-hidden="true">User</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to books_path, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-book" aria-hidden="true"> Books</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"> Logout</span>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to root_path, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to home_about_path, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-link" aria-hidden="true"> About</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"> sign up</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"> login</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="body">
      <p class="notice"><%= notice %></p>

      <%= yield %>


        <footer>
         <div class="container mt-5">
           <div class="row">
             <div class="mx-auto">
             <p>CopyRight Infratop.inc</p>
             </div>
           </div>
         </div>
        </footer>
      </div>
    </div>
  </body>
</html>